body { padding-top: 70px; 
       overflow-y: scroll}
.navbar-brand { font-size: 1.5em; }
.navbar-color { background-color: #333; }
.navbar-brand { color: #FFF !important; }
.extra-margin { margin: 2px;}
.active { background-color: #428bca;}
.pointer { cursor: pointer; }
.list-group-header { background-color: #333; color: #fff;}