body { padding-top: 70px; overflow-y: scroll; min-width: 500px; min-height: 800px;}
.row { min-width: 500px; }
.bokmarkbar { background-color: #EEE;}
.navbar-brand { font-size: 1.5em; }
.navbar-color { background-color: #333; }
.navbar-brand { color: #FFF !important; }
.pointer { cursor: pointer; }
#imglogo { position:relative; bottom: 2px; width: 24px; margin: 0; padding: 0;}
#loader { margin-top:9px; margin-left: 15px;}
.ng-hide { display:none!important; }
