body { padding-top: 70px; 
       overflow-y: scroll}
.bokmarkbar { background-color: #EEE;}
.navbar-brand { font-size: 1.5em; }
.navbar-color { background-color: #333; }
.navbar-brand { color: #FFF !important; }
.extra-margin { margin: 2px;}
.active { background-color: #428bca;}
.pointer { cursor: pointer; }
.header { background-color: #333; color: #fff;}
.fix-position { position:relative; left : 30px;}
.extra-size { font-size: 1.25em;}
.current-location { background-color: #428bca;}
#imglogo { position:relative; bottom: 2px; width: 24px; margin: 0; padding: 0;}
#loader { margin-top:9px; margin-left: 15px;}
.ng-hide {
  display:none!important;
}
