<div class="row">
  <div class="col-md-4">
    <h4 ng-bind="localizeLocations"></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" placeholder="New location" class="form-control" />
      <span class="input-group-btn">
        <button class="btn btn-default " type="button">&nbsp;<span class="glyphicon-plus glyphicon">
          </span>&nbsp;</button>
      </span>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-8">
    <h4 ng-bind="localizeBookmarkSettings"></h4>
  </div>
  <div class="col-md-4">
    <div class="input-group">
    <input ui-keydown="{esc: 'removeSearchText ()'}" type="text" placeholder="Search" ng-model="searchText" class="form-control" />
      <span class="input-group-btn">
        <button ng-click="removeSearchText()" class="btn btn-default " type="button">
          &nbsp;
          <span class="glyphicon-remove glyphicon"></span>
          &nbsp;
        </button>        
    </span>  
    </div>
  </div>
  
</div>
<div class="row">
  <div class="col-md-12">
    
    <div class="list-group">
      <div ng-repeat="bookmark in bookmarks | filter: searchText">
        <li ng-class="{active : bookmark.selected}" class="list-group-item" >
          <label>
            <input ng-model="bookmark.selected" type="checkbox"/>
            <span ng-bind="bookmark.title"></span>
            <span ng-bind="bookmark.parent"></span>
          </label>
          <span class="extra-margin pull-right label label-success" ng-repeat="label in bookmark.labels">
            <span ng-click="removeLabel(bookmark,$index)" class="glyphicon-remove glyphicon"></span> <span ng-bind="label"></span>
          </span>
        </li> 
      </div>
    </div>
  </div>
</div>