<div class="clearfix">
&nbsp;
</div>
<div class="row">
  <div class="col-xs-3" ng-bind="settings.ls"></div>
  <div class="col-xs-3 col-xs-offset-6 text-right" ng-bind="settings.le"></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="time-progress-padding">
      <div class="progress">
        <div class="time-box" style="width: 35%">
          <span class="sr-only"></span>
        </div>
        <div class="time-box time-box-empty" style="width: 20%">
          <span class="sr-only"></span>
        </div>
        <div class="time-box" style="width: 10%">
          <span class="sr-only"></span>
        </div>
        <div class="time-box time-box-empty" style="width: 10%">
          <span class="sr-only"></span>
        </div>
        <div class="time-box" style="width: 1%">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <button class="btn btn-default" type="button" ng-bind="lz('newMark')"></button>
  </div>
  <div class="col-xs-6 col-xs-offset-3 text-right">
    <div class="btn-group">
      <button class="btn btn-default" ng-click="prevDay()">
        <span class="icon glyphicon-chevron-left"></span>
      </button>
      <div class="btn btn-remove btn-default" ng-click="setToday()">
        <strong><span ng-bind="date"></span> / <span ng-bind="year"></span></strong>
      </div>
      <button class="btn btn-default" ng-click="nextDay()">
        <span class="icon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
</div>
