<div class="form-horizontal" role="form">
  <div class="form-group">
    <label for="workdayStart" class="col-sm-4 control-label" ng-bind="lz('workdayStart')"></label>
    <div class="col-sm-8">
      <input type="time" class="form-control" id="workdayStart">
    </div>
  </div>
  
  <div class="form-group">
    <label for="workdayEnd" class="col-sm-4 control-label" ng-bind="lz('workdayEnd')"></label>
    <div class="col-sm-8">
      <input type="time" class="form-control" id="workdayEnd">
    </div>
  </div>
  
    <div class="form-group">
    <label for="defaultLogStart" class="col-sm-4 control-label" ng-bind="lz('defaultLogStart')"></label>
    <div class="col-sm-8">
      <input type="time" class="form-control" id="defaultLogStart">
    </div>
  </div>
  
  <div class="form-group">
    <label for="defaultLogEnd" class="col-sm-4 control-label" ng-bind="lz('defaultLogEnd')"></label>
    <div class="col-sm-8">
      <input type="time" class="form-control" id="defaultLogEnd">
    </div>
  </div>
  
  <div class="form-group">
    <label for="defaultLabel" class="col-sm-4 control-label" ng-bind="lz('defaultLabel')"></label>
    <div class="col-sm-8">
      <select id="defaultLabel"></select>
    </div>
  </div>
  

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button type="submit" class="btn btn-default" ng-bind="lz('save')"></button>
    </div>
  </div>
</div>